/* --------------Header ------------- */

#navbar {
  display: flex;
  height: 75px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%),
    0 2px 20px 0 rgb(0 0 0 / 20%);
}

#nlogo {
  width: 20%;
  /* border: 1px solid blue; */
}

#nlogo img {
  padding-left: 15px;
  padding-top: 25px;
}

#mid {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  /* border: 1px solid blue; */
}

#mid>div,
#last>div {
  /* border: 1px solid red; */
  margin-top: 20px;
  font-size: 12px;
  /* font-weight: 700; */
  line-height: 24px;
}

#mid>div:hover,
#nlogo:hover {
  background-color: rgb(214, 227, 241);
}

#last {
  display: flex;
  justify-content: center;
  width: 35%;
  /* border: 1px solid blue; */
}

#last>img {
  margin-top: 20px;
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

/* nav bar end  */

/* -----------main section ------ */

#Job_section_All_Jobs {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 90%;
  margin-left: 210px;
}

#Job_section_All_Jobs>div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 20px;
  padding: 20px;
  color: black;
  border-radius: 10px;
}

#Job_section_All_Jobs button {
  color: white;
  background-color: greenyellow;
  border: none;
}

/* pagination section */
.pagination-wrapper {
  border: 1px dashed #E1E1E1;
  border-radius: 4px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.button_page {
  width: 100px;
  height: 50px;
  background-color: skyblue;
  color: white;
  border-radius: 3px;
  display: flex;
  text-align: center;
  margin: 10px;
  padding: 20px 20px;
}

/* ----------------footer Section ------------ */
a {
  text-decoration: none;
}

#footer {
  display: grid;
  grid-template-columns: 20% 15% 15% 15% 33%;
  width: 96%;
  margin: auto;
  height: 300px;
  align-items: center;
}

#footer>div {
  height: 150px;
}

#footer>div>img {
  margin-top: 20px;
}

/* #footer > div > p {
    color: #8292B4;
} */
#connectUs>p {
  color: #445578;
}

.footpcolor>p>a {
  color: #445578;
}

#appStore {
  margin-left: 20px;
  padding-left: 40px;
  background: #fff;
  border: 1px solid #d3e1ea;
  border-radius: 8px;
}

#appStore>p:first-child {
  font-weight: 600;
}

#appStore>p:nth-child(2) {
  color: #445578;
}

#socailLogo {
  display: flex;
  gap: 15px;
}

#appLogo {
  display: flex;
  gap: 10px;
}

/* ---------------------footer end ------------- */


/* search  */
.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding: 9px 9px 9px 24px;
  background: #fff;
  border: 1.26923px solid #eaf1f5;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgb(86 141 187 / 12%);
  border-radius: 100px;
  width: 995px;
  height: 68px;
  border: 1px solid white;
}

#searchIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px
}

.sugginput {
  font-size: 15px;
  line-height: 22px;
  font-family: "Inter";
  color: #9098b5;
  font-weight: 400;
}

input::placeholder {
  color: #9098b5;

}

input,
select {
  outline: none;
}

.pipe1 {
  background: #eaf1f5;
  border-radius: 2.53846px;
  width: 1px;
  height: 28px;
}

.search {
  padding: 11px 28px;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  background: #457eff;
  box-shadow: 0 5.07692px 12.6923px rgb(69 126 255 / 10%);
  border-radius: 100px;
  cursor: pointer;
  color: white;
  margin-left: 110px;
  border: none;
}

#input1 {
  width: 324px;
  height: 38px;
  border: none;
}

#input2 {
  width: 208px;
  height: 38px;
  border: none;
}

#input3 {
  /* width: 223px; */
  height: 40px;
  border: none;
}

/* ///////hover */


.hover1 {
  display: none;
  width: 50%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  background-color: whitesmoke;
  font-size: 15px;
  border-radius: 20px;
}

.hover1 h4 {
  color: rgb(168, 162, 162);
}

.hover2 {
  display: none;
  width: 35%;
  margin: auto;
  padding-left: 60px;
  grid-template-columns: repeat(4, 1fr);
  background-color: whitesmoke;
  font-size: 14px;
  border-radius: 20px;
}

.hover2 h4 {
  color: rgb(140, 135, 135);
}