* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    /* color: #666;     */
}

/* For Navbar */

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}


a {
    list-style: none;
    display: inline-block;
    /* padding: 8px 12px; */
    position: relative;
}

a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

a:hover::after {
    width: 100%;
}

.middle-nav>div>a {
    text-decoration: none;
    color: #8F939E;
}

.left-nav {
    display: flex;
    margin: 15px;
    width: 20%;

}

/* .left-nav > img{
    width:100px;
    height: 50px;
} */
.middle-nav {
    display: flex;
    /* justify-content: space-around; */
    width: 40%;
    margin: 30px;
    font-style: normal;
    gap: 20px;
    cursor: pointer;
}

.right-nav {
    display: flex;
    width: 30%;
    margin: 10px;
    font-style: normal;
    gap: 10px;
    cursor: pointer;
}

.drpdwn {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMSAxTDYgNkwxIDAuOTk5OTk5IiBzdHJva2U9IiM0NDU1NzgiIHN0cm9rZS13aWR0aD0iMS43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=) no-repeat;
    display: inline-block;
    background-position: center;
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

.loginbtn {
    width: 72px;
    height: 36px;
    border: 1px solid #bacffe;
    border-radius: 20px;
    color: #457EFF;
    background-color: white;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
    /* margin: 0px 16px; */

}

.registerbtn {
    width: 92px;
    height: 36px;
    border-radius: 20px;
    color: white;
    background-color: #FF7555;
    font-size: 15px;
    border: none;
    font-style: normal;
    cursor: pointer;
    /* margin-right: 20px; */
}

#pipe {
    border-left: 1px solid #D3E2EB;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
    /* margin-right: 10px; */
}

#emp {
    color: #31394B;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 500;
}





/* for Resiter and login part */
#container {
    margin: auto;
    width: 60%;
    height: 600px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

#container>#feature {
    width: 60%;
    height: 450px;
    margin-top: 25px;
    padding-left: 25px;
    line-height: 30px;
    box-shadow: 10px 10px 10px 10px lightblue;
    margin-right: 20px;
}

#container>#loginPart {
    width: 45%;
    height: 500px;
    padding: 5%;
    box-shadow: 10px 10px 10px 10px lightblue;
}

/* over */

/* feature related */
h3 {
    color: #091e42;
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    text-align: left;
}

#register {
    background-color: #fff;
    border: 1px solid #4a90e2;
    border-radius: 2px;
    color: #4a90e2;
    width: 50%;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

#register:hover {
    background: red;
    transition: 1s;
}

#point {
    padding-left: 10px;
}

.registerimage {
    position: absolute;
    width: 227px;
    height: 151px;
}

#symRegister {
    text-align: center;
}

/* over */

/* login details */

input,
#login {
    display: block;
    margin: 20px 0px;
    font-size: 15px;
    padding: 3%;
    width: 90%;

}

#form>p {
    font-size: 13px;
    color: black;
    font-weight: bold;
}

#form>#login {
    width: 90%;
    height: 40px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 2px;
    text-align: center;
}

#form #result {
    text-align: center;
    text-decoration-color: red;
}

#form .otp {
    color: #4a90e2;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 20px;
}

#form>hr {
    box-shadow: none;
    width: 90%;
    margin: 15px 0px;

}

.socialbtn {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 15%);
    border-radius: 20px;
    cursor: pointer;
    width: 90%;
}

.socialbtn img {
    width: 18px;
    height: 18px;
    margin: 11px 11px 11px 16px;
    background-size: 18px 18px;
}

.socialbtn p {
    margin-left: 56px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: .4px;
    line-height: 16px;
    text-align: left;
}